.container
  - if !flash[:notice].blank?
    %div
      = flash[:notice]
  = link_to "New S3 file", new_s3_file_path
  %br/
  %br/
  - if @s3_files.any?
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th File Name
          %th Open
          -# %th Download
          %th Action
      %tbody
        - @s3_files.each do |file|
          %tr
            %td= file[:name]
            %td= link_to "Open", file[:url], target: '_blank'
            %td= link_to "Download", "/s3_file/download?name=#{file[:name]}", target: '_blank'
            %td= link_to "Delete",  "/s3_file/delete?name=#{file[:name]}", data: { confirm: "Are you sure to delete #{file[:name]}?"}
  - else
    %div No file waas uploaded, you can upload one.
