.container
  - if !@s3_file.errors.empty?
    %div
      %ul
        - @s3_file.errors.full_messages.each do |msg|
          %li= msg
  %div
    = form_for @s3_file, html: { multipart: true } do |f|
      = f.label :name
      = f.text_field :name
      %br/
      %br/
      = f.label :attachment
      = f.file_field :attachment
      %br/
      = f.submit "Save"
